<div class="container trip-show">

	<strong>Name:</strong>
			<%= @trip.info %>
			<%= link_to 'Trip Locations',
									 trip_locations_path(@trip),
									 class: 'btn btn-success' %>

			<%= link_to 'Edit', edit_trip_path(@trip),
									 class: 'btn btn-warning' %>
			<%= link_to 'Delete', trip_path(@trip),
									 class: 'btn btn-danger',
									 data: {confirm: 'Do you really want to delete?'},
									 method: :delete %>



</div>
