<div class="container trip-show">

	<strong>Name:</strong>
	<%= @trip.info %>


		<div class='card-content'>
		 <%= @trip.locations.us_formatted %>





				<%= link_to 'Delete', trip_path(@trip),
				class: 'btn btn-danger',
					data: {confirm: 'Do you really want to delete?'},
					method: :delete %>




				</div>
</div>
