	<div class="top-photo">
      <h1>Introducing</h1>
    </div>
    <div class="second-photo">
      <h1>The Most Basic Trip Tracker</h1>
    </div>
    <div class="third-photo">
      <h1>Ever.</h1>
      <p></p>
      	<a href="/trips">
			<span class="glyphicon glyphicon-tree-conifer"></span>
		</a>
    </div>


